@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Technician Portal";
}

<!DOCTYPE html>

<html ng-app="app" ng-controller="MyController" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Technician Portal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script type="text/javascript" src="~/js/asct.js"></script>

    <link rel="stylesheet" href="~/css/ASCT_Style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h1 id="title-alaska" style="text-align: center;">Alaska Airline Software Configuration Technician Portal</h1>
    <br>
    <div class="container modified_container">
        <label>
            <input type="radio" name="demo" class="card-input-element" id="demo1">
            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                Boeing
            </div>
        </label>
        <label>
            <input type="radio" name="demo" class="card-input-element" value="demo2">
            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                Airbus
            </div>
        </label>
    </div>
    <br>
    <div id="tail-number-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="tail-number">Tail Number</label>
                <input type="text" class="form-control" id="tail-number" placeholder="ex: 224AS">
            </div>
        </form>
    </div>
    <br>

    <div id="system-name-section">
        <form>
            <div class="form-group">
                <!-- Design choice; label or no label for tail number input?-->
                <label for="system-name">System Name</label>
                <input type="text" class="form-control" id="system-name" placeholder="ex: FMC">
            </div>
        </form>
    </div>
    <br />
    <div id="submit">
        <input ng-click="openTable()" class="btn btn-primary" type="submit" value="Submit">
    </div>
    <br />
    <br />

    <div ng-show="isVisible" class="ng-hide">
        <table class="table">

            <tbody>
                <tr>
                    <th scope="row">LRU Name</th>
                    <td>FMC</td>

                </tr>
                <tr>
                    <th scope="row">LRU Part Number</th>
                    <td>123</td>

                </tr>
                <tr>
                    <th scope="row">Software Name</th>
                    <td>1231445</td>

                </tr>
                <tr>
                    <th scope="row">Software Part Number</th>
                    <td>1231445</td>

                </tr>
                <tr>
                    <th scope="row">EC Number</th>
                    <td>1231445</td>

                </tr>
                <tr>
                    <th scope="row">Pre Condition/Post Condition</th>
                    <td>1231445</td>

                </tr>

            </tbody>
        </table>
    </div>
    &nbsp;
</body>
</html>
