h1 { 



}

#fleet-select {
    width: 100%;
    margin-left: 400px;

}

body {
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 20px;
}


/**
  Default Markup
**/


  
  .container {
    max-width: 200px;
    margin: 0 auto;
  }
  
  
  /**
    Component
  **/
  
  label {
      width: 100%;
  }
  
  .card-input-element {
      display: none;
  }

  
.card-input-element+.card {
    height: calc(36px + 2*1rem);
    color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked+.card {
    border: 2px solid var(--primary);
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }
  
  .card-input-element:checked+.card::after {
    content: '\e5ca';
    color: #AFB8EA;
    font-family: 'Material Icons';
    font-size: 24px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @-webkit-keyframes fadeInCheckbox {
    from {
      opacity: 0;
      -webkit-transform: rotateZ(-500deg);
    }
    to {
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
    }
  }
  
  @keyframes fadeInCheckbox {
    from {
      opacity: 0;
      transform: rotateZ(-50deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }
#submit {
   
}
